<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View all Posts using AJAX</title>
</head>
<body>
<h1>posts</h1>
<div id="posts"></div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"
>
    </script>

    <!-- include the JS file with the AJAX request -->
<script>
    (function ($) {
        let request = $.ajax({'url': '/posts.json'});
        request.done(function (posts) {
            let html = '';
            posts.forEach(function (post) {
                console.log(post);
                html += `<div>
                    <h2>${post.title}</h2>
                    <p>${post.body}</p>
                    <p>published by: ${post.owner.username}</p>
                        </div>`;
            });
            $('#posts').html(html);
        });
    })(jQuery);
</script>
</body>
</html>