<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Roll the dice')"></head>

<body>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="container">
    <h1>Guess a Number:</h1>

    <div th:each="number: ${#numbers.sequence(1,6)}">
        <a th:href="@{'/roll-dice/' + ${number}}" th:text="${number}"></a>
    </div>

    <div th:if="${numberGuess}">
        <p><strong>Your Guess:</strong> <span th:text="${numberGuess}">test</span></p>
        <p><strong>Random Roll: </strong> <span th:text="${randomNumber}">random roll</span></p>
    </div>
    <div th:if="${correct}">
        <p> You are correct!</p>
    </div>
    <div th:if="${correct !=null && !correct}">
        <p>Try again!</p>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>